{% extends "base.admin.html.twig" %}

{% block title %}
    Modifier les information d'un parent
{% endblock %}

{% block titre %}
    Modifier les information d'un parent
{% endblock %}

{# {% block boutons %}{% endblock %} #}

{% block body %}
    <div class="card">
        <div class="container"><br>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}