{% extends "base.admin.html.twig" %}

{% block title %}
	Tableau de bord
{% endblock %}

{% block body %}
	<!-- card1 start -->
	{# <div class="col-md-6 col-xl-3">
																										
																																			</div> #}
	<!-- Statestics Start -->
		<div class="col-md-12 col-xl-8"> <div class="card">
			<div class="card-header">
				<h5>Statestics</h5>
				<div class="card-header-left "></div>
				<div class="card-header-right"></div>
			</div>
		</div>
	</div>
{% endblock %}
