{% extends "base.admin.html.twig" %}

{% block title %}
	Tableau de bord
{% endblock %}

{% block body %}
	<div class="pcoded-main-container">
		<div class="pcoded-wrapper">
			<nav class="pcoded-navbar">
				<div class="sidebar_toggle">
					<a href="#">
						<i class="icon-close icons"></i>
					</a>
				</div>
				<div class="pcoded-inner-navbar main-menu">
					<div class="">
						<div class="main-menu-content">
							
						</div>
					</div>

					
			</nav>
			<div class="pcoded-content">
				<div class="pcoded-inner-content">
					<div class="main-body">
						<div class="page-wrapper">

							<div class="page-body">
								<div
									class="row">
									<!-- card1 start -->
									{# <div class="col-md-6 col-xl-3">

									</div> #}
									<!-- Statestics Start -->
									<div class="col-md-12 col-xl-8">
										<div class="card">
											<div class="card-header">
												<h5>Statestics</h5>
												<div class="card-header-left "></div>
												<div class="card-header-right">
													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div id="styleSelector"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
