{% extends "base.admin.html.twig" %}

{% block title %}
	Gestion des Eleves
{% endblock %}

{% block titre %}
	Gestion des Eleves
{% endblock %}
{% block boutons %}
	<a href="{{ path("admin_eleve_creer") }}" class="btn btn-inverse btn-actions btn-outline-inverse float-right">Ajouter une année scolaire</a>
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-body">
			<div class="content">
				<table id="example" class="table table-striped nowrap" style="width:100%">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Prenom</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for eleve in eleves %}
							<tr>
								<td>{{eleve.nom}}</td>
								<td>{{eleve.prenom}}</td>
								<td>
									<a
										href="{{ path("admin_eleve_detail", {"id": eleve.id}) }}" class="btn btn-info btn-outline-info" >
										{# <i class="mdi mdi-format-list-bulleted-square"></i> #}
										Detail
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}{% endblock %}
