{% extends "base.admin.html.twig" %}

{% block title %}
    Creer une nouvelle annee scolaire
{% endblock %}

{% block titre %}
    Creer une nouvelle annee scolaire
{% endblock %}

{# {% block boutons %}{% endblock %} #}

{% block body %}
    <div class="card">
        <div class="container"><br>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}